<div class="container">
    <br>

    <h1 style="text-align: center" id="titulo-registros">Registros Dopper {{this.loggedInUsername}}</h1>

    
    <br>
    <div class="container">
        <button style="float: right;" class="btn btn-success" (click)="generateExcel()">Descargar Excel</button>
    </div>


    <div class="container">
        <button style="float: right; margin-right: 2%;" type="button" class="btn btn-secondary" (click)="refresh()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                <path
                    d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
                </path>
            </svg>
        </button>
    </div>

    <br>
    <br>
    <br>

    <div class="card-columns">
        <div class="card" *ngFor="let registro of registros">
            <div class="card-body">
                <h5 class="card-title">{{ registro.id }}</h5>
                <p class="card-text">Valor: {{ registro.valor }}</p>
                <p class="card-text">Fecha y Hora: {{ registro.fecha_hora }}</p>
                <p class="card-text">Dopper: {{ registro.device }}</p>
                <hr>
                <button class="btn btn-primary btn-sm" style="float: right;" (click)="openUpdateModal(registro)">Actualizar</button>
                <button class="btn btn-danger btn-sm" style="margin-right: 1%; float: right;" (click)="deleteRegistro(registro.id)">Eliminar</button>
                <br>
                
            </div>
        </div>
    </div>
</div>


<div class="modal" [ngClass]="{ 'show': modalVisible, 'fade': modalVisible }" tabindex="-1" role="dialog"
    [style.display]="modalVisible ? 'block' : 'none'" (click)="closeModal()">
    <div class="modal-dialog" role="document" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Actualizar Registro</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" [(ngModel)]="selectedRegistro.id" disabled>
                </div>
                <div class="form-group">
                    <label for="valor">Valor</label>
                    <input type="text" class="form-control" id="valor" [(ngModel)]="selectedRegistro.valor">
                </div>
                <div class="form-group">
                    <label for="fecha_hora">Fecha y Hora</label>
                    <input type="text" class="form-control" id="fecha_hora" [(ngModel)]="selectedRegistro.fecha_hora">
                </div>
                <div class="form-group">
                    <label for="device">Dopper</label>
                    <input type="text" class="form-control" id="device" [(ngModel)]="selectedRegistro.device" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="updateRegistro()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>







<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>